@import 'variables';

.c-timer,
.c-timer-inner {
  height: $timer-size-phone;
  transition: .1s height, .1s width;
  width: $timer-size-phone;

  @include tablet {
    height: $timer-size-tablet;
    width: $timer-size-tablet;
  }

  @include desktop {
    height: $timer-size-desktop;
    width: $timer-size-desktop;
  }
}

.o-timer-wrapper {
  // border-radius: 50%;
  position: relative;
  // transition: transform .1s;
  user-select: none;
}

.c-timer {
  cursor: pointer;
  left: 0;
  height: $timer-size-phone;
  position: absolute;
  top: 0;
  transition: transform .1s, .1s height, .1s width;
  user-select: none;
  -webkit-tap-highlight-color: rgba( #fff, 0 );
  width: $timer-size-phone;
  z-index: 1;

  &__progress {
    stroke: $color-timer-progress;
    stroke-linecap: round;
    transition: stroke-dashoffset 1s ease 0s;
  }

  &__circle {
    stroke: $color-timer-circle;
  }

  &:hover {
    transform: scale( 1.01, 1.01 );
  }

  &:active {
    transform: scale( .99, .99 );
  }

  @include tablet {
    height: $timer-size-tablet;
    width: $timer-size-tablet;
  }

  @include desktop {
    height: $timer-size-desktop;
    width: $timer-size-desktop;
  }
}

.c-timer-inner {
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1;
  padding-top: 2px;
  pointer-events: none;
  position: relative;
  -webkit-tap-highlight-color: rgba( #fff, 0 );
  z-index: 2;

  &__c-button {
    border: 2px solid #fff;
    margin-top: -2px;
    padding: 8px 20px;
    pointer-events: auto;
  }

  &__icon {
    margin-right: 5px;
  }

  &__time,
  &__status {
    margin: 0;
  }

  &__time {
    font-size: 76px;
    font-weight: 700;
    margin: 5px 0;
  }

  &__status {
    font-family: 'Roboto Condensed';
    font-size: 20px;
    font-weight: 300;
    margin-bottom: -5px;
    text-transform: uppercase;
  }
}
