@import 'variables';

.c-timer-buttons {
  display: flex;
  margin-top: 15px;
  transition: .1s width;
  user-select: none;
  width: $timer-size-phone;

  &__c-button {
    flex-basis: 33%;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  @include tablet {
    width: $timer-size-tablet;
  }

  @include desktop {
    width: $timer-size-desktop;
  }
}
